## DATA TYPES

* interger - whole numbers
* float - numbers with decimal point
* string - enclosed in double or single quotation mark
* list - mutable ordered sequence []
* tuple - immutable ordered sequence ()
* set - unordered {}
* dictionary - unordered with key:value pairs {}

# Number

In [1]:
# addition
5 + 7

12

In [3]:
# subtraction

18 - 9

9

In [4]:
# multiplication

2 * 56

112

In [5]:
# division

19 / 2

9.5

In [8]:
# MODULUS - output remainder
# to verify even or odd numbers

19 % 5

4

In [7]:
# power 

2 ** 4

16

In [9]:
# precedence

2 + 4 * 5 / 8

4.5

In [10]:
# bracket to overide precedence

(2 + 4) * (5 / 8)

3.75

In [12]:
# floating point accuracy

0.1 + 0.2 - 0.3

5.551115123125783e-17

# Variables

* no space use ```_``` instead
* cannot start with numbers
* avoid special characters 
* no reserved words
* short and descriptive name

In [2]:
# for easy referencing

name = 'Abisoye Akinloye Samson'

In [14]:
name

'Abisoye Akinloye Samson'

**N.B: Python is a dynamic programming language** 

You can re-assign varable to different data type

In [15]:
# dynamic pro

my_houses = 3

my_houses = ['duplex', 'bongalow', 'mansion']

In [16]:
type(my_houses)

list

# Strings

* single or double quote
* ordered sequences (indexing and slicing)
* zero-based indexing with [ ]

In [17]:
name[0]

'A'

In [18]:
name[-1]

'n'

* **Slicing**: to grab subsection


* [**start : stop : step**]

In [29]:
last_name = name[0:7]
print(last_name)

Abisoye

In [5]:
# use (:) to grab all letter

name[8:]

'Akinloye Samson'

In [10]:
# end at 16 indexing but not printed
popular_names = name[:16]

popular_names

'Abisoye Akinloye'

In [12]:
name[::2]

'AioeAily asn'

In [13]:
# to reverse a string

name[::-1]

'nosmaS eyolnikA eyosibA'

* **Escape sequence for string**
* it is used inside ```print``` function
* \n - new line 
* \t - tab

In [22]:
# print function

print("Abisoye \nAkinloye")

Abisoye
Akinloye

In [34]:
# nine spaces

print("Abisoye \tAkinloye")

Abisoye 	Akinloye

In [39]:
# len function 

len(name)

23

In [40]:
len(last_name)

7

**N.B: Space inside string is also counted**

### Sting Properties and Methods

* **Immutability**: Strings are immutable by indexing

In [15]:
middle_name = "Samson"

In [16]:
middle_name[0] = "s"

TypeError: 'str' object does not support item assignment

In [19]:
# string method

split_names = name.split()

In [20]:
first_name = split_names[1]
middle_name = split_names[2]
last_name = split_names[0]

In [21]:
print(f'Hi, your surname is {last_name}.')

Hi, your surname is Abisoye.

**N.B: split() splits words based on white space. You can pass 
in condition for spliting in the ()**

## String Interpolation

In [5]:
name = "Abisoye Akinloye Samson"

In [6]:
first_name = name.split()[1]

In [7]:
print("Dear, " + first_name + ".")

Dear, Akinloye.

### Formating using placeholder

* **Obsolete format**

In [23]:
print("I am going to %s." %'class')

I am going to class.

In [24]:
print("We have %s lecture by %s." %('Thermodynamics','3 pm'))

We have Thermodynamics lecture by 3 pm.

## **```%s``` VS ```%r```**

In [26]:
# %s - output without quotation mark

print("The man said: %s" %"He won't be around for the meeting.")

# %r - string representation including quotation marks and escape characters

print("The man said: %r" %"He won't be around for the meeting.")

The man said: He won't be around for the meeting.
The man said: "He won't be around for the meeting."

## **```%s``` VS ```%d```**

In [30]:
# %s

print("The lecture would start by %s" %"3.30pm")

# %d

print("The lecture would start by %d pm" %3.30)

The lecture would start by 3.30pm
The lecture would start by 3 pm

**%d converts numbers to integer without rounding**

In [9]:
# format method

print("Dear, {}.".format(first_name))

Dear, Akinloye.

In [11]:
print("Hello {} {} {}".format("Abisoye", "Akinloye", "Samson"))

Hello Abisoye Akinloye Samson

In [13]:
# indexing string format

print("Hello {1} {2} {0}".format('Abisoye','Akinloye','Samson'))

Hello Akinloye Samson Abisoye

In [15]:
# format sting with variable

print('{Name} is a {M} {E} student.'.format(Name="Akinloye", M="Mechanical", E="Engineering"))

Akinloye is a Mechanical Engineering student.

### Float formatting

* **{value:width.precision f}**
* **Width is the amount of padding left (Whitespace)**

In [16]:
# floats formating

mass = 0.25
volume = 178

density = mass / volume

In [17]:
print('Density is {d}'.format(d=density))

Density is 0.0014044943820224719

In [18]:
# to round off density to 4 decimal places

print('Density is {d:1.4f}'.format(d=density))

Density is 0.0014

In [19]:
# formating pi

pi = 3.14159265359
my_formatter = "{0:.2f}"
output = my_formatter.format(pi)

print(output)

3.14

### Alignment with `.format()`
By default, `.format()` aligns **text to the left, numbers to the right**. You can pass an optional `<`,`^`, or `>` to set a left, center or right alignment:

In [34]:
# without alignment formating

print('{} | {} | {}'.format('Name', 'Age', 'Sex'))
print('{} | {} | {}'.format('Akinloye', '21', 'male'))

Name | Age | Sex
Akinloye | 21 | male

In [43]:
# numbers after the alignment operators are the padding width

print('{:<10} | {:^10} | {:>9}'.format('Name', 'Age', 'Sex'))
print('{:<10} | {:^10} | {:>10}'.format('Akinloye', '21', 'Male'))
print('{:<10} | {:^10} | {:>10}'.format('Rachael', '17', 'Female'))

Name       |    Age     |       Sex
Akinloye   |     21     |       Male
Rachael    |     17     |     Female

In [44]:
# numbers after the alignment operators are the padding width

print('{0:<10} | {1:^10} | {2:>9}'.format('Name', 'Age', 'Sex'))
print('{0:<10} | {1:^10} | {2:>10}'.format('Akinloye', '21', 'Male'))
print('{0:<10} | {1:^10} | {2:>10}'.format('Rachael', '17', 'Female'))

Name       |    Age     |       Sex
Akinloye   |     21     |       Male
Rachael    |     17     |     Female

In [48]:
# You can add padding character

print('{:<10} | {:-^10} | {:>9}'.format('Name', 'Age', 'Sex'))
print('{:<10} | {:-^10} | {:>10}'.format('Akinloye', '21', 'Male'))
print('{:<10} | {:-^10} | {:>10}'.format('Rachael', '17', 'Female'))

Name       | ---Age---- |       Sex
Akinloye   | ----21---- |       Male
Rachael    | ----17---- |     Female

### f strings

In [10]:
# formatted sting literals (f strings)

print(f'Dear, Mr. {first_name}.')

Dear, Mr. Akinloye.

**Pass `!r` to get the string representation:**

In [49]:
print(f'Dear, Mr. {first_name!r}.')

Dear, Mr. 'Akinloye'.

# Lists 

* Ordered mutable Sequence
* elements are called items
* contain different data types and it can be nested.

In [51]:
number_list1 = ['one', 'two', 'three', 'four']
number_list2 = ['five', 'six', 'seven', 'eight']

In [53]:
joined_list = number_list1 + number_list2
joined_list

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [54]:
len(joined_list)

8

In [57]:
# Append: to add new item to the end of a list

joined_list.append('nine')

In [56]:
joined_listned_list

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [58]:
# Append: to add list inside a list

joined_list.append(['ten',10])

In [59]:
joined_list

['one',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'nine',
 'nine',
 ['ten', 10]]

In [85]:
# POP: to remove element at a particular position
# if not specified, it removes the last element

joined_list.pop()

'twelve'

In [61]:
joined_list

['one',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'nine',
 'nine']

In [65]:
joined_list.pop(7)

joined_list

['two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [86]:
# EXTEND: to append more than one element in the list

joined_list.extend(['ten','eleven'])

joined_list

['one',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'nine',
 'ten',
 'eleven',
 'twelve',
 'ten',
 'eleven']

In [83]:
# Append alternative

joined_list[len(joined_list):] = ['twelve']

joined_list

['two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'nine',
 'ten',
 'eleven',
 'twelve',
 'twelve']

In [84]:
# INSERT 

joined_list.insert(0, 'one')

joined_listned_list

['one',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'nine',
 'ten',
 'eleven',
 'twelve',
 'twelve']

In [87]:
# REMOVE : remove match string and all duplicates

joined_list.remove('twelve')

In [88]:
joined_list

['one',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'nine',
 'ten',
 'eleven',
 'ten',
 'eleven']

**Other List methods are:**

1. Clear : to clear list elements
2. count(x) : to count the number x appear in the list
3. sort() : to sort list with the same data types. It doesn't output a result.
4. reverse() : to reverse list elements. It doesn't output a result.

# Tuples

* ordered immutable
* once element is assigned, it cannot be reassigned.

In [90]:
tup = (1,2,3,4)
tup

(1, 2, 3, 4)

In [93]:
tup2 = (1,3,4,3,2)

In [101]:
tup[0]

1

In [96]:
# tuple can be added

added_tuple = tup + tup2
added_tuple

(1, 2, 3, 4, 1, 3, 4, 3, 2)

In [97]:
# Count: to count occurence

added_tuple.count(4)

2

In [99]:
# Index: to find position of first occurence

added_tuple.index(4)

3

In [100]:
# Del: to delete tuple

del tup2

# Sets

* Unordered collection of **Unique** elements
* Unique: duplicate items are not allowed.
* Mutable: can grow or shrink on demand

In [1]:
my_set = set()

In [2]:
my_set

set()

In [3]:
my_set.add(1)

In [4]:
my_set

{1}

In [5]:
my_set.add(2)

In [7]:
my_set

{1, 2}

In [8]:
# the elements are unique i.e no repition

my_set.add(2)
my_set

{1, 2}

In [12]:
my_list = [1,1,1,1,1,2,2,2,2,3,3,3,3,3]

In [13]:
set(my_list)

{1, 2, 3}

### Set Operation

* Used for computing mathematical expression e.g intersection, union, difference and symmetric difference

In [9]:
A = {1,2,3,4}
B = {2,4,6,8}

In [10]:
# Union

A | B

{1, 2, 3, 4, 6, 8}

In [11]:
# Intersection

A & B

{2, 4}

In [16]:
# Difference: subtract intersecting elements in B from A

A - B

{1, 3}

In [17]:
# Symetrical difference: eliminate intercept from A and B then output remaining

A ^ B

{1, 3, 6, 8}

In [20]:
# Subset

A.issubset(B)

False

In [21]:
# Superset

B.issuperset(B)

True

# Dictionaries

* **generally known as associative array, hashes or hashmap**

* **Unordered mapping for storing objects**

* **It uses a key-value pair**

* **{"key" : "value"}**

In [22]:
biodata = {
    "name": "Abisoye Akinloye",
    "Department": "Mechanical Engineering",
    "level": 400
}

In [23]:
biodata

{'name': 'Abisoye Akinloye',
 'Department': 'Mechanical Engineering',
 'level': 400}

In [25]:
# accessing dictionary

biodata['name']

'Abisoye Akinloye'

**Just in case key isn't present in the dict use get() to avoid exception**

In [26]:
biodata['sex']

KeyError: 'sex'

In [28]:
biodata.get('sex')

# it will return None if not present

In [31]:
# adding to the dictionary

biodata['sex'] = 'Male'

In [32]:
biodata

{'name': 'Abisoye Akinloye',
 'Department': 'Mechanical Engineering',
 'level': 400,
 'sex': 'Male'}

In [34]:
biodata['name'] = "Abisoye Akinloye Samson"

In [35]:
# accessing all keys

biodata.keys()

dict_keys(['name', 'Department', 'level', 'sex'])

In [37]:
# accessing all values

biodata.values()

dict_values(['Abisoye Akinloye Samson', 'Mechanical Engineering', 400, 'Male'])

In [38]:
# accessing all items

biodata.items()

dict_items([('name', 'Abisoye Akinloye Samson'), ('Department', 'Mechanical Engineering'), ('level', 400), ('sex', 'Male')])

**use `dict()` function along with the `zip()` function to combine separate list of key-value**

In [39]:
keys = ['name', 'department', 'level']
values = ['Abisoye', 'Mechanical', 400]

In [40]:
student_data = dict(zip(keys,values))

In [41]:
student_data

{'name': 'Abisoye', 'department': 'Mechanical', 'level': 400}

# Booleans

* True or False
* use for control Flow and Logic

In [42]:
1 > 2

False

In [43]:
1 == 1

True

# Files

To create and write into file use `%%writefile`. N.B: Don't add comment on top

In [60]:
%%writefile text.txt
hello, i just started learning
how to create a txt file and write
into it with jupyter notebook

Writing text.txt

In [2]:
text = open('text.txt')

In [65]:
text.read()

'hello, i just started learning\nhow to create a txt file and write\ninto it with jupyter notebook\n'

In [66]:
text.read()

''

**`text.read()` give empty output because it is as if the cursor is at the last word**

**use `.seek()` to reset the position to the bigining of the first word**

In [70]:
text.seek(0)

0

In [69]:
text.read()

'hello, i just started learning\nhow to create a txt file and write\ninto it with jupyter notebook\n'

In [64]:
pwd

'C:\\Users\\Hp\\Documents\\Python Scripts'

**Readlines then turned to a list**

In [71]:
text.readlines()

['hello, i just started learning\n',
 'how to create a txt file and write\n',
 'into it with jupyter notebook\n']

### File location

**N.B: For windows use double \ so that python doesn't treat it as escape character**

In [3]:
text.close()

In [4]:
with open('text.txt') as text:
    contents = text.read()

In [6]:
contents

'hello, i just started learning\nhow to create a txt file and write\ninto it with jupyter notebook\n'

In [7]:
with open('text.txt', mode='r') as text:
    contents = text.read()
    
# r - read, w - write, a - append

In [8]:
contents

'hello, i just started learning\nhow to create a txt file and write\ninto it with jupyter notebook\n'

### Reading, Writing, Appending Modes

* **mode='r'** is read only
* **mode ='w'** is write only (will overwrite files or create new)
* **mode='a'** is to append only ( will add on to files)
* **mode='r+'** is reading and writing
* **mode='w+'** is writing and reading (Overwrite existing files or creates a new file!)

In [9]:
%%writefile dummy_text.txt
the line one stays here
then line two
followed by line three

Writing dummy_text.txt

In [10]:
with open('dummy_text.txt') as dummy_text:
    contents = dummy_text.read()

In [11]:
print(contents)

the line one stays here
then line two
followed by line three

In [12]:
with open('dummy_text.txt', mode='a') as dummy_text:
    dummy_text.write('I appended line four')

In [15]:
with open('dummy_text.txt') as dummy_text:
    print(dummy_text.read())

the line one stays here
then line two
followed by line three
I appended line four

In [16]:
with open('demo.txt', mode='w') as demo:
    demo.write('I created this file.')

In [17]:
with open('demo.txt', mode='r') as demo:
    print(demo.read())

I created this file.