## Loops

* FOR
* WHILE

**N.B: Strings, lists and Dictionaries are iterable**

In [1]:
numbers = [1,2,3,4,5,6,7,8,9]

for num in numbers:
    print(num)

1
2
3
4
5
6
7
8
9

In [4]:
for num in numbers:
    if num % 2 == 0:
        print(num)
    else:
        print(f'Odd number: {num}')

Odd number: 1
2
Odd number: 3
4
Odd number: 5
6
Odd number: 7
8
Odd number: 9

In [5]:
sum_num = 0

for num in numbers:
    sum_num += num
print(sum_num)

45

In [6]:
# iterable strings

my_name = "Abisoye Akinloye"

for letter in my_name:
    print(letter)

A
b
i
s
o
y
e

A
k
i
n
l
o
y
e

In [7]:
# iterable list and tuple

arr = [(1,2),(3,4),(5,6),(7,8)]

for tup in arr:
    print(tup)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [11]:
for (a,b) in arr:
    print(f'a: {a} & b: {b}')

a: 1 & b: 2
a: 3 & b: 4
a: 5 & b: 6
a: 7 & b: 8

In [12]:
# iterable dictionary

dic = {'a': 1, 'b': 2, 'c': 3}

for item in dic:
    print(item)

a
b
c

In [16]:
for value in dic.values():
    print(value)

1
2
3

**N.B: by default iteration through dictionary will output the keys only.**

In [13]:
# add .items() to output key:value pair

for item in dic.items():
    print(item)

('a', 1)
('b', 2)
('c', 3)

In [14]:
for key,value in dic.items():
    print(key)

a
b
c

In [15]:
for key,value in dic.items():
    print(value)

1
2
3

## While

In [18]:
x = 0

while x < 5:
    print(f'The current value of x is {x}')
    x += 1

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4

**break, continue, pass**

break: it breaks out of the current closest enclosing loop

continue: goes to the top of the closest enclosing loop

pass: does nothing at all

In [20]:
# pass: to avoid EOF error
# for empty functions or loops

y = [1,2,3,4,5,6]

for _ in y:
    #comment
    pass

print('End of the script')

End of the script

In [21]:
# continue 

for num in y:
    if num % 2 == 0:
        continue
    print(num)

1
3
5

In [22]:
# break

for num in y:
    if num%2 == 0:
        break
    print(num)

1

## Range

range(start,stop,step)

In [25]:
for num in range(10):
    print(num)
    
# range starts from zero

0
1
2
3
4
5
6
7
8
9

In [26]:
for num in range(1,6):
    print(num)

1
2
3
4
5

In [29]:
for num in range(0,11,2):
    print(num)
    
# range stops at `value - 1`

0
2
4
6
8
10

In [30]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

### Enumerate

In [2]:
# Enumerate: use on any iterable object 
# to display object item and its index

my_name = "Abisoye Akinloye"

for item in enumerate(my_name):
    print(item)

(0, 'A')
(1, 'b')
(2, 'i')
(3, 's')
(4, 'o')
(5, 'y')
(6, 'e')
(7, ' ')
(8, 'A')
(9, 'k')
(10, 'i')
(11, 'n')
(12, 'l')
(13, 'o')
(14, 'y')
(15, 'e')

### ZIP

In [5]:
# Zip to join two or more iterable object(List) to form tuple

name_position = ['first', 'middle', 'last']
name_arr = ["Akinloye", "Samson", "Abisoye"]

for item in zip(name_position,name_arr):
    print(item)

('first', 'Akinloye')
('middle', 'Samson')
('last', 'Abisoye')

In [7]:
"Akinloye" in my_name

True

#### Shuffle

In [9]:
# shuffle()-> no return

num = [1,2,3,4,5,6,7,8,9,10]

from random import shuffle

shuffle(num)

In [10]:
num

[6, 5, 2, 9, 4, 10, 1, 7, 3, 8]

#### Randint

In [11]:
from random import randint

In [12]:
# randint (lower limit, upper limit)

randint(0,10)

5

## List Comprehension

In [13]:
string = "list comprehension"

In [14]:
lists = []

# deprecated instead use list comprehension
for letter in string:
    lists.append(letter)
    
lists

['l',
 'i',
 's',
 't',
 ' ',
 'c',
 'o',
 'm',
 'p',
 'r',
 'e',
 'h',
 'e',
 'n',
 's',
 'i',
 'o',
 'n']

In [15]:
# list comprehension

lists = [letter for letter in string]

In [16]:
lists

['l',
 'i',
 's',
 't',
 ' ',
 'c',
 'o',
 'm',
 'p',
 'r',
 'e',
 'h',
 'e',
 'n',
 's',
 'i',
 'o',
 'n']

In [17]:
lists = [x for x in "Akinloye"]

In [18]:
lists

['A', 'k', 'i', 'n', 'l', 'o', 'y', 'e']

In [21]:
even_no = [num for num in range(0,11) if num%2 == 0]

In [22]:
even_no

[0, 2, 4, 6, 8, 10]

In [23]:
celsius = [0,10,20,34.5]

fahrenheit = [((9/5) * temp + 32) for temp in celsius]

In [24]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [25]:
number = [x if x%2 == 0 else "ODD" for x in range(0,11)]

In [26]:
number

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [29]:
mylist = []

for x in [2,4,6]:
    for y in [1,10,100]:
        mylist.append(x*y)
        
mylist

[2, 20, 200, 4, 40, 400, 6, 60, 600]

In [30]:
mylist = [x*y for x in [2,4,6] for y in [1,10,100]]

In [31]:
mylist

[2, 20, 200, 4, 40, 400, 6, 60, 600]